@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
/* common css styles start  */
body {
    font-family: "Work Sans", sans-serif;
  }
  header {
    background-color: #fff4e7;
  }
  .text-primary {
    color: #727272;
    font-weight: 400;
  }
  
  .btn-primary {
    background-color: #ff9026;
    padding: 15px 20px;
    border: 0;
    border-radius: 5px;
  }
  
  .btn-primary a {
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .btn-primary:hover {
    background-color: #ff6347;
  }
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 110px;
    margin: 0 auto;
  }
.logo {
    padding-left: 100px;
    font-size: 45px;
    font-weight: 700;
  }
  
  .logo span {
    color: #ff9026;
  }
  
  .nav {
    padding-right: 100px;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-between;
  }
  
  .nav ul li {
    list-style: none;
    margin-right: 30px;
  }
  
  .nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
  }
  /* banner start  */

.banner-title h4 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 64px;
    font-weight: 700;
  }
  
  .banner-subtitle {
    text-align: center;
    margin-top: 30px;
  }
  
  .banner-subtitle span {
    display: block;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .banner-image {
    width: 70%;
    margin: 50px auto;
    padding-bottom: 50px;
  }
  
  .banner-image img {
    width: 100%;
  }
  
  .banner-btn {
    margin-top: 35px;
    text-align: center;
  }
  /* main start  */

/* Our Feature section start  */

.about-us {
    margin: 85px auto;
  }
  
  .about-us-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .about-us-image {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: 40%;
    padding-left: 100px;
  }
  
  .about-us-image img {
    width: 100%;
  }
  
  .about-us-description {
    width: 40%;
  }
  
  .about-us-subtitle {
    text-align: justify;
  }
  
  .about-us-title {
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .color-1 {
    color: #424242;
    font-weight: 500;
    font-size: 45px;
  }
  
  .color-2 {
    font-family: 700;
    font-size: 45px;
  }
  
  .color-3 {
    font-size: 45px;
    font-weight: 700;
    color: #ff9026;
  }