@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap");
/* common css styles start  */
body {
    font-family: "Work Sans", sans-serif;
  }
  header {
    background-color: #fff4e7;
  }
  
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 110px;
    margin: 0 auto;
  }
.logo {
    padding-left: 100px;
    font-size: 45px;
    font-weight: 700;
  }
  
  .logo span {
    color: #ff9026;
  }
  
  .nav {
    padding-right: 100px;
  }
  
  .nav ul {
    display: flex;
    justify-content: space-between;
  }
  
  .nav ul li {
    list-style: none;
    margin-right: 30px;
  }
  
  .nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
  }